@charset 'UTF-8';

@media print{
   body{ font-family:'Courier New', Courier, monospace;


   }
   main{
    border: ;
    text-shadow: ;
    color: ;
   }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{

    }

    
}

@media screen and (min-width:992px ) and (max-width: 1200px) {
    body{

    }
    

}

@media screen and (max-width: 1200px) {
    body{
        
    }
    
}

