@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
    font-family: 'Please';
    src: url('../fontes/Please write me a song.ttf');
}


:root {
    --cor1: #EDA045;
    --cor2: #EDB745;
    --cor3: #EB6517;
    --cor4: #EDDF4F;
    --cor5: #EDD094;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-texto: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-texto);
}


header {
    max-width: 1000px;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(to bottom, var(--cor1), transparent);
}

header h1 {
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 2rem;
}

header p {
    background: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}


#burguer {
    background-color: var(--cor4);
    color: var(--cor3);
    display: block;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

menu {
    display: none;
    background-color: var(--cor2);
}

menu ul {
    list-style: none;
}

menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #4b1212;
}

menu a:hover {
    background-color: var(--cor3);
    color: white;
}


main {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 0 0 10px 10px;
}


.intro {
    margin-bottom: 20px;
}

.intro h2 {
    font-family: var(--fonte-titulo);
    text-align: center;
    margin-bottom: 10px;
}


article {
    margin-bottom: 25px;
}

article h2 {
    background-color: var(--cor3);
    color: brown;
    text-align: center;
    padding: 8px;
    font-family: var(--fonte-titulo);
}

article p {
    margin-top: 10px;
    line-height: 1.8em;
    text-align: justify;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid var(--cor4);
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th {
    background-color: var(--cor3);
    color: white;
}


iframe {
    width: 100%;
    min-height: 300px;
    border: none;
    margin-top: 10px;
}

.imagem {
    width: 50px;
    height: 50px;
}


footer {
    max-width: 1000px;
    margin: 10px auto;
    padding: 15px;
    background-color: var(--cor5);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
