@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@font-face{
    font-family: 'Beba Neue';
    src: url('../fontes/BebasNeue-Regular.otf');
   
}


:root{
    --cor1: #EDA045;
    --cor2: #EDB745;
    --cor3: #EB6517;
    --cor4: #EDDF4F;
    --cor5: #EDD094;

    --fonte-universal: 'Times New Roman', Times, serif;
    --fonte-destaque: 'Dan Serif Display', cursive;
    --font-padrao: 'Beba Neue', cursive;



}

*{ 
    margin: 0px;
    padding: 0px;
}

table{
    border-collapse: collapse;
    background-color: aliceblue;
    
   
    
}
thead{
    border: 2px solid var(--cor2);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    

}
th{
    background: white;
    color:var(black);
    border: 2px solid var(--cor4);
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

td{
    border: 2px solid var(--cor4);
    color:var(--cor3);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    
}

thead > tr > th {
    position: sticky;
    top: -1px;
    
}

body, html{
    background-color: var(2);
}

header{
    background-image: linear-gradient(to left, var(), transparent);
}
header > h1{
    color: ;
    font-family: var();
    font-size: 
    margin: ;
    padding: ;
    text-align: ;
}

header > p{
    font-family: var();
    background-color: ;
    border-radius: ;
    padding: ;
    text-align: ;
    font-weight: ;
}

menu{
    background-color: var(5);
    text-decoration: ;
    color: ;
    padding:;
    box-shadow: 
    border-top-right-radius: ;
    border-bottom-left-radius: ;
    
}

menu > a{
    padding:;
    border-radius:;
    font-weight: ;
    transition-duration:;
    
}

a{
    text-decoration: ;
    color: ;
   
}

menu a:hover{
    background-color: var(--);
    color: var();
}



